$defaultFontSize: 17px;
.modal{
    width:100%;
    height:100%;
    position:fixed;
    top:0;
    left:0;
    background-color:#f1f2f3;
    align-items: center;
    justify-content: baseline;
}
.modal--show{
    display:flex;
    flex-direction:column;
}
.modal--hide{
    display:none;
}
.modal__form{
    border:1px solid gray;
    width:50%;
    display:flex;
    flex-direction:column;
    padding: 20px;
    margin-top:40px;
}
.modal__row{
    display:flex;
    flex-direction:row;
}
.modal__row--buttons{
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;   
}
.modal__row-send-input{
    color: #747474;
    font-weight: bold;
    font-size: $defaultFontSize;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    padding-left: 10px;
    padding-right: 10px; 
}
.modal__row-left{
    padding:10px;
    flex:1;
}
.modal__row-right{
    padding:10px;
    flex:2;
}