$defaultFontSize: 17px;
.searchbar{
display:flex;
flex-direction:row;
padding: 10px;
background-image: linear-gradient(to bottom, #e9e9e9, #b8b8b8);
align-items:center;
}
.searchbar__left{
    padding:10px;
}
.searchbar__left img{
max-width:35px;
}
.searchbar__middle{
    padding: 10px;
}
.searchbar__middle-input{
    color: #747474;
    font-weight: bold;
    font-size: $defaultFontSize;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    padding-left: 6px;
}
.searchbar__right{
    padding: 10px;
}
.searchbar__right-input{
    color: #747474;
    font-weight: bold;
    font-size: $defaultFontSize;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    padding-left: 10px;
    padding-right: 10px;
}
.searchbar__right-add{
    background-color: #f1f2f3;
    color: #747474;
    font-weight: bold;
    font-size: 38px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    border: 1px solid #747474;
    padding-top: 0px;
    padding-bottom: 10px;
    width: 29px;
    cursor:pointer;
}
.searchbar__right-changekey{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
    padding-top: 5px;
    padding-left: 10px;
}
.searchbar__rigth-img-changekey{
    max-width:34px;
    cursor:pointer;
}